.data-action(@color) {
	cursor: pointer;
	color: @color;
	transition: 0.5s ease;

	&:hover {
		color: @color;
		transition: 0.5s ease;
	}
}

div.col-lg-2, div.col-lg-4, div.col-lg-6 {
	height: 100%;
	overflow-y: auto;
	position: fixed;
}

div.col-lg-4 {
	height: ~"calc(100% - 20px)";
	padding-top: 30px;
}

[data-remove], [data-stop] {
	.data-action(red);
}

[data-pause] {
	.data-action(orange);
}

[data-play] {
	.data-action(green);
}

input[data-autocomplete] {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.7);
	width: ~"calc(33.3333% - 30px)";
	top: 5px;
}